<head>
    <link rel="stylesheet" type="text/css" href="css/form.css">
</head>
<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Employee</th>
                <th>Car</th>
                <th>License plate</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Distance</th>
                <th>Purpose</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reservation in reservations">
                <td>{{reservation.id}}</td>
                <td>{{reservation.employee.username}}</td>
                <td>{{reservation.car.brand}} {{reservation.car.model}}</td>
                <td>{{reservation.car.evidenceNumber}}</td>
                <td>{{reservation.startDate}}</td>
                <td>{{reservation.endDate}}</td>
                <td>{{reservation.distance}}</td>
                <td>{{reservation.purpose}}</td>
                <td>
                    <div ng-controller="ModalController as $ctrl" ng-click="init('loadReservation', 'reservation', reservation)">
                        <div ng-controller="ModalController as $ctrl" ng-init="init('updateObject', 'reservation')" class="modal-demo">
                            <script type="text/ng-template" id="myModalContent.html">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="modal-title">Update reservation</h3>
                                </div>
                                <div class="modal-body" id="modal-body">
                                    <div class="form-style-5">
                                        <h4>{{errorAlert}}</h4>
                                        <form name="modalForm">
                                            <fieldset>
                                                <legend>Reservation Info</legend>
                                                <input type="text" name="employee" placeholder="Employee *" ng-model="reservation.employee.email" required>
                                                <input type="text" name="car" placeholder="Car *" ng-model="reservation.car.evidenceNumber" required>
                                                <input type="text" name="startDate" placeholder="Start date *" ng-model="reservation.startDate" required>
                                                <input type="text" name="endDate" placeholder="End date *" ng-model="reservation.endDate" required>
                                                <input type="number" name="distance" placeholder="Distance *" ng-model="reservation.distance" required>
                                                <input type="text" name="purpose" placeholder="Purpose *" ng-model="reservation.purpose">
                                            </fieldset>
                                            <button class="btn btn-primary" ng-click="$ctrl.ok(reservation)" ng-disabled="modalForm.$invalid">Update reservation</button>
                                            <button class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </script>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" ng-click="$ctrl.open()">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    Update
                                </button>
                                <button ng-click="deleteReservation(reservation.id)" type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-controller="ModalController as $ctrl" ng-init="init('createObject', 'reservation')" class="modal-demo">
        <script type="text/ng-template" id="myModalContent-create.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-create">Create new reservation</h3>
            </div>
            <div class="modal-body" id="modal-body-create">
                <div class="form-style-5">
                    <form name="modalForm">
                        <fieldset>
                            <legend>Reservation Info</legend>
                            <select ng-model="reservation.employee.email"
                                    ng-options="employee.email as employee.firstName + ' ' + employee.secondName + ' (' + employee.email + ')' for employee in employees">
                                <option value="">-- Select employee --</option>
                            </select>
                            <select ng-model="reservation.car.evidenceNumber"
                                    ng-options="car.evidenceNumber as car.brand + ' (' + car.evidenceNumber + ')' for car in cars">
                                <option value="">-- Select car --</option>
                            </select>
                            <input type="text" name="startDate" placeholder="Start date *" ng-model="reservation.startDate" ng-init="reservation.startDate='2017-01-01'" required>
                            <input type="text" name="endDate" placeholder="End date *" ng-model="reservation.endDate" ng-init="reservation.endDate='2017-01-01'" required>
                            <input type="number" name="distance" placeholder="Distance *" min="1" ng-model="reservation.distance" required>
                            <input type="text" name="purpose" placeholder="Purpose *" ng-model="reservation.purpose" required>
                        </fieldset>
                        <button class="btn btn-primary"
                                ng-click="$ctrl.ok(reservation)"
                                ng-disabled="modalForm.$invalid || (reservation.car.evidenceNumber === null) || (reservation.employee.email === null)">New reservation</button>
                        <button class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
                    </form>
                </div>
            </div>
        </script>
        <button type="button" class="btn btn-success" ng-click="$ctrl.openCreate()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Create reservation
        </button>
    </div>
</div>