<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Značka</th>
                <th>Počet míst</th>
                <th>SPZ</th>
                <th>Druh paliva</th>
                <th>Spotřeba</th>
                <th>Domovská lokace</th>
                <th>Aktuální lokace</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <tr ng-repeat="car in cars">
                <td>{{car.id}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.seats}}</td>
                <td>{{car.evidence_number}}</td>
                <td>{{car.fuel_type}}</td>
                <td>{{car.fuel_consumption}}</td>
                <td>{{car.home_location}}</td>
                <td>{{car.current_location}}</td>
                <td>
                    <button ng-click="" type="submit" class="btn btn-primary">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>