<head>
    <link rel="stylesheet" type="text/css" href="css/form.css">
</head>
<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Značka</th>
                <th>Počet míst</th>
                <th>SPZ</th>
                <th>Druh paliva</th>
                <th>Spotřeba</th>
                <th>Domovská lokace</th>
                <th>Aktuální lokace</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="car in cars">
                <td>{{car.id}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.seats}}</td>
                <td>{{car.evidence_number}}</td>
                <td>{{car.fuel_type}}</td>
                <td>{{car.fuel_consumption}}</td>
                <td>{{car.home_location}}</td>
                <td>{{car.current_location}}</td>
                <td>
                    <div class="btn-group" style="margin:5px 0 10px 0;">
                        <button ng-click="updateCar(car)" type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Update
                        </button>
                        <button ng-click="deleteCar(car)" type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="#/admin/newcar" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New car
        </a>
    </div>
    <div ng-controller="ModalController as $ctrl" class="modal-demo">
        <script type="text/ng-template" id="/templates/new_car.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Create new car</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="form-style-5">
                    <form>
                        <fieldset>
                            <legend> Car Info</legend>
                            <input type="text" name="evidence_number" placeholder="Evidence Number *" ng-model="car.evidence_number" required>
                            <input type="text" name="brand" placeholder="Brand *" ng-model="car.brand" required>
                            <input type="number" name="fuel_consumption" placeholder="Fuel Consuption *" ng-model="car.fuel_consumption" required>
                            <input type="number" name="seats" placeholder="Seats *" ng-model="car.seats" required>
                            <input type="text" name="home_location" placeholder="Home Location *" ng-model="car.home_location" required>
                            <input type="text" name="current_location" placeholder="Current Location *" ng-model="car.current_location">
                            <input type="text" name="fuel_type" placeholder="Fuel Type" ng-model="car.fuel_type" required>
                            <!--<select id="job" name="fuel_type" ng-model="car.fuel_type" required>
                              <option value="petrol">Petrol</option>
                              <option value="diesel">Diesel</option>
                              <option value="lpg">LPG</option>
                            </select>  -->
                        </fieldset>
                        <input type="submit" value="Create Car" ng-click="$ctrl.ok(car)" />
                    </form>
                </div>
            </div>
        </script>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.open()">Create car</button>
</div>
</div>