<head>
    <link rel="stylesheet" type="text/css" href="css/form.css">
</head>
<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Uživatelské jméno</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in employees">
                <td>{{employee.id}}</td>
                <td>{{employee.username}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.secondName}}</td>
                <td>{{employee.email}}</td>
                <td>
                    <div class="btn-group" style="margin:5px 0 10px 0;">
                        <button ng-click="updateEmployee(employee)" type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Update
                        </button>
                        <button ng-click="deleteEmployee(employee)" type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-controller="ModalController as $ctrl" ng-init="init('createEmployee', 'employee')" class="modal-demo">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Create new employee</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <div class="form-style-5">
                        <h4>{{errorAlert}}</h4>
                        <form name="modalForm">
                            <fieldset>
                                <legend> Employee Info</legend>
                                <input type="text" name="first_name" placeholder="First Name *" ng-model="employee.firstName" required>
                                <input type="text" name="second_name" placeholder="Second Name *" ng-model="employee.secondName" required>
                                <input type="email" name="email" placeholder="Email *" ng-model="employee.email" required>
                                <input type="text" name="username" placeholder="Username *" ng-model="employee.username" required>
                                <input type="password" name="password" placeholder="Password *" ng-model="employee.password" required>
                            </fieldset>
                            <button class="btn btn-primary" ng-click="$ctrl.ok(employee)" ng-disabled="modalForm.$invalid">New employee</button>
                            <button class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
                        </form>
                    </div>
                </div>
            </script>
            <button type="button" class="btn btn-success" ng-click="$ctrl.open()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Create employee
            </button>
        </div>
    </div>
</div>