<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Uživatelské jméno</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in employees">
                <td>{{employee.id}}</td>
                <td>{{employee.username}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.secondName}}</td>
                <td>{{employee.email}}</td>
                <td>
                    <div class="btn-group" style="margin:5px 0 10px 0;">
                        <button ng-click="updateEmployee(employee)" type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Update
                        </button>
                        <button ng-click="deleteEmployee(employee)" type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="#/admin/newemployee" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New employee
        </a>
    </div>
</div>