<head>
    <link rel="stylesheet" type="text/css" href="css/form.css">
</head>
<div class="form-style-5">
<form>
<fieldset>
<legend> Car Info</legend>
<input type="text" name="evidence_number" placeholder="Evidence Number *" ng-model="car.evidence_number" required>
<input type="text" name="brand" placeholder="Brand *" ng-model="car.brand" required>
<input type="number" name="fuel_consumption" placeholder="Fuel Consuption *" ng-model="car.fuel_consumption" required>
<input type="number" name="seats" placeholder="Seats *" ng-model="car.seats" required>
<input type="text" name="home_location" placeholder="Home Location *" ng-model="car.home_location" required>
<input type="text" name="current_location" placeholder="Current Location *" ng-model="car.current_location">
<input type="text" name="fuel_type" ng-model="car.fuel_type" required>
<!--<select id="job" name="fuel_type" ng-model="car.fuel_type" required>
  <option value="petrol">Petrol</option>
  <option value="diesel">Diesel</option>
  <option value="lpg">LPG</option>
</select>  -->
</fieldset>
<input type="submit" value="Create Car" ng-click="create(car)" />
</form>
</div>