<head>
    <link rel="stylesheet" type="text/css" href="css/form.css">
</head>
<div class="form-style-5">
<h4>{{errorAlert}}</h4>
<form>
<fieldset>
<legend> Employee Info</legend>
<input type="text" name="first_name" placeholder="First Name *" ng-model="employee.firstName" required>
<input type="text" name="second_name" placeholder="Second Name *" ng-model="employee.secondName" required>
<input type="email" name="email" placeholder="Email *" ng-model="employee.email" required>
<input type="text" name="username" placeholder="Username *" ng-model="employee.username" required>
<input type="password" name="password" placeholder="Password *" ng-model="employee.password" required>
<!--<select id="job" name="role" ng-model="employee.role" required>
  <option value="employee">Employee</option>
  <option value="admin">Admin</option>
</select>      -->
</fieldset>
<input type="submit" value="Create Employee" ng-click="create(employee)" />
</form>
</div>