<div class="section">
    <h3>{{headingTitle}}</h3>
    <h2>{{successAlert}}</h2>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Employee</th>
                <th>Car</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Distance</th>
                <th>Purpose</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <tr ng-repeat="reservation in reservations">
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.id"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.employee.username"/>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.car.evidence_number"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.startDate"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.endDate"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.distance"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.purpose"/>
                </td>
                <td>
                    <button ng-click="updateReservation(reservation)" type="submit" class="btn btn-primary">{{updateButtonText}}</button>
                </td>
                <td>
                    <button ng-click="removeReservation(reservation.id)" type="submit" class="btn btn-primary">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>