<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Employee</th>
                <th>License plate</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Distance</th>
                <th>Purpose</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reservation in reservations">
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.id" size="5"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.employee.username" size="20"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.car.evidence_number" size="5"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.startDate" size="10"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.endDate" size="10"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.distance" size="5"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.purpose" size="15"/>
                </td>
                <td>
                    <div class="btn-group" style="margin:5px 0 10px 0;">
                        <button ng-click="updateReservation(reservation)" type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                            {{updateButtonText}}
                        </button>
                        <button ng-click="removeReservation(reservation.id)" type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="#/admin/newreservation" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New reservation
    </a>
</div>