<head>
    <link rel="stylesheet" type="text/css" href="css/form.css">
</head>
<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Employee</th>
                <th>License plate</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Distance</th>
                <th>Purpose</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reservation in reservations">
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.id" size="5"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.employee.username" size="20"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.car.evidence_number" size="5"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.startDate" size="10"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.endDate" size="10"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.distance" size="5"/>
                </td>
                <td>
                    <input ng-disabled="disabled" ng-model="reservation.purpose" size="15"/>
                </td>
                <td>
                    <div class="btn-group" style="margin:5px 0 10px 0;">
                        <button ng-click="updateReservation(reservation)" type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                            {{updateButtonText}}
                        </button>
                        <button ng-click="removeReservation(reservation.id)" type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-controller="ModalController as $ctrl" ng-init="init('createReservation', 'reservation')" class="modal-demo">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Create new reservation</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="form-style-5">
                    <form name="modalForm">
                        <fieldset>
                            <legend>Reservation Info</legend>
                            <input type="text" name="employee" placeholder="Employee *" ng-model="reservation.employee" required>
                            <input type="text" name="car" placeholder="Car *" ng-model="reservation.car" required>
                            <input type="text" name="startDate" placeholder="Start Date *" ng-model="reservation.startDate" required>
                            <input type="text" name="endDate" placeholder="End Date *" ng-model="reservation.endDate" required>
                            <input type="number" name="distance" placeholder="Distance *" ng-model="reservation.distance" required>
                            <input type="text" name="purpose" placeholder="Purpose *" ng-model="reservation.purpose">
                        </fieldset>
                        <button class="btn btn-primary" ng-click="$ctrl.ok(reservation)" ng-disabled="modalForm.$invalid">New reservation</button>
                        <button class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
                    </form>
                </div>
            </div>
        </script>
        <button type="button" class="btn btn-success" ng-click="$ctrl.open()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Create reservation
        </button>
    </div>
</div>