<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PA165 Carpark webapp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>
        <div ng-app="app"/>

        <div class="navbar" ng-controller="navbarController as $ctrl">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href>PA165 CarPark</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-center">
                            <li><a href='#/pa165/admin/cars' ng-show="loggedIn && isAdmin">Cars</a></li>
                            <li><a href='#/pa165/admin/employees' ng-show="loggedIn && isAdmin">Employees</a></li>
                            <li><a href='#/pa165/admin/admins' ng-show="loggedIn && isAdmin">Admins</a></li>
                            <li><a href='#/pa165/admin/reservations' ng-show="loggedIn && isAdmin">Reservations</a></li>
                            <li><a href='#/pa165/employee/cars' ng-show="loggedIn && !isAdmin">Cars</a></li>
                            <li><a href='#/pa165/employee/reservations' ng-show="loggedIn && !isAdmin">Reservations</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><p class="navbar-text" ng-show="loggedIn">Logged in as {{currentUser}}</p></li>
                            <li>
                                <a href="#/pa165" ng-show="loggedIn" ng-click="$ctrl.logout()">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <br/>
            <br/>
            <br/>
            <br/>
            <div ng-view class="main"></div>
        </div>

        <div class="col-sm-8 col-sm-offset-2">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
        </div>

        <script src="/webjars/angularjs/1.5.8/angular.js"></script>
        <script src="/webjars/angularjs/1.5.8/angular-resource.js"></script>
        <script src="/webjars/angularjs/1.5.8/angular-route.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/controller.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.1.js"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">

        <div class="alerts">
            <div ng-show="warningAlert" class="alert alert-warning" role="alert">
                <!--<button type="button" class="close" aria-label="Close" ng-click="hideWarningAlert()"> <span aria-hidden="true">&times;</span></button>-->
                <strong>Warning!</strong> <span>{{warningAlert}}</span>
            </div>
            <div ng-show="errorAlert" class="alert alert-danger" role="alert">
                <!--<button type="button" class="close" aria-label="Close" ng-click="hideErrorAlert()"> <span aria-hidden="true">&times;</span></button>-->
                <strong>Error!</strong> <span>{{errorAlert}}</span>
            </div>
            <div ng-show="successAlert" class="alert alert-success" role="alert">
                <!--<button type="button" class="close" aria-label="Close" ng-click="hideSuccessAlert()"> <span aria-hidden="true">&times;</span></button>-->
                <strong>Success!</strong> <span>{{successAlert}}</span>
            </div>
        </div>
    </body>
</html>
