.menu-list {
    padding-left: 30px;
    padding-top: 20px;
}
.home-section {
    padding-left: 30px;
    float: left;
    width: 10%;
}
.section {
    margin-left: 10%;
    float: left;
}
.alerts {
    margin-bottom: 10%;
    float: left;
}
.h3 {
    padding-bottom: 20px;
}
.navbar {
   background-color: #ff0000;
}